body{
  font-family: cursive;
  background-color: pink;
  text-align: center;
  color: grey;
  font-size: 25px;
}
.special {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.best{
  font-size: 30px;
  color: purple;
  font-style: oblique;
  font-family: fantasy;
}
.flashy{
  font-style: italic;
  font-family: fantasy;
  font-size: 30px;
  color: red;
}
